*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 72px;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin-left: 2rem;
}

h1{
    font-size: 4rem;

}

h2{
    font-size: 2rem;
    margin-top: 2rem;
}

h3{
    font-size: 24px;
    margin-top: 1.6rem;
}
h4{
    font-size: 20px;
}

p{
    color: gray;
    margin-top: 1rem;
}

footer{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: black;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer p{
    color: white;
}


article{
    max-width: 960px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}